# Importing Libraries

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import StandardScaler

# Data Exploration

In [32]:
df = pd.read_csv("ChampionMatchStats.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Data columns (total 80 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   championName                    4960 non-null   object
 1   assists                         4960 non-null   int64
 2   baronKills                      4960 non-null   int64
 3   bountyLevel                     4960 non-null   int64
 4   consumablesPurchased            4960 non-null   int64
 5   damageDealtToBuildings          4960 non-null   int64
 6   damageDealtToObjectives         4960 non-null   int64
 7   damageDealtToTurrets            4960 non-null   int64
 8   damageSelfMitigated             4960 non-null   int64
 9   deaths                          4960 non-null   int64
 10  detectorWardsPlaced             4960 non-null   int64
 11  doubleKills                     4960 non-null   int64
 12  dragonKills                     4960 non-null   int64
 13  firstBloodAssist                4960 non-null   bool
 14  firstBloodKill                  4960 non-null   bool
 15  firstTowerAssist                4960 non-null   bool
 16  firstTowerKill                  4960 non-null   bool
 17  gameEndedInEarlySurrender       4960 non-null   bool
 18  gameEndedInSurrender            4960 non-null   bool
 19  goldEarned                      4960 non-null   int64
 20  goldSpent                       4960 non-null   int64
 21  individualPosition              4960 non-null   object
 22  inhibitorKills                  4960 non-null   int64
 23  inhibitorTakedowns              4960 non-null   int64
 24  inhibitorsLost                  4960 non-null   int64
 25  itemsPurchased                  4960 non-null   int64
 26  killingSprees                   4960 non-null   int64
 27  kills                           4960 non-null   int64
 28  lane                            4960 non-null   object
 29  largestCriticalStrike           4960 non-null   int64
 30  largestKillingSpree             4960 non-null   int64
 31  largestMultiKill                4960 non-null   int64
 32  longestTimeSpentLiving          4960 non-null   int64
 33  magicDamageDealt                4960 non-null   int64
 34  magicDamageDealtToChampions     4960 non-null   int64
 35  magicDamageTaken                4960 non-null   int64
 36  neutralMinionsKilled            4960 non-null   int64
 37  nexusKills                      4960 non-null   int64
 38  nexusLost                       4960 non-null   int64
 39  nexusTakedowns                  4960 non-null   int64
 40  objectivesStolen                4960 non-null   int64
 41  pentaKills                      4960 non-null   int64
 42  perks                           4960 non-null   object
 43  physicalDamageDealt             4960 non-null   int64
 44  physicalDamageDealtToChampions  4960 non-null   int64
 45  physicalDamageTaken             4960 non-null   int64
 46  quadraKills                     4960 non-null   int64
 47  role                            4960 non-null   object
 48  sightWardsBoughtInGame          4960 non-null   int64
 49  spell1Casts                     4960 non-null   int64
 50  spell2Casts                     4960 non-null   int64
 51  spell3Casts                     4960 non-null   int64
 52  spell4Casts                     4960 non-null   int64
 53  teamEarlySurrendered            4960 non-null   bool
 54  teamPosition                    3800 non-null   object
 55  timeCCingOthers                 4960 non-null   int64
 56  timePlayed                      4960 non-null   int64
 57  totalDamageDealt                4960 non-null   int64
 58  totalDamageDealtToChampions     4960 non-null   int64
 59  totalDamageShieldedOnTeammates  4960 non-null   int64
 60  totalDamageTaken                4960 non-null   int64
 61  totalHeal                       4960 non-null   int64
 62  totalHealsOnTeammates           4960 non-null   int64
 63  totalMinionsKilled              4960 non-null   int64
 64  totalTimeCCDealt                4960 non-null   int64
 65  totalTimeSpentDead              4960 non-null   int64
 66  totalUnitsHealed                4960 non-null   int64
 67  tripleKills                     4960 non-null   int64
 68  trueDamageDealt                 4960 non-null   int64
 69  trueDamageDealtToChampions      4960 non-null   int64
 70  trueDamageTaken                 4960 non-null   int64
 71  turretKills                     4960 non-null   int64
 72  turretTakedowns                 4960 non-null   int64
 73  turretsLost                     4960 non-null   int64
 74  unrealKills                     4960 non-null   int64
 75  visionScore                     4960 non-null   int64
 76  visionWardsBoughtInGame         4960 non-null   int64
 77  wardsKilled                     4960 non-null   int64
 78  wardsPlaced                     4960 non-null   int64
 79  win                             4960 non-null   bool
dtypes: bool(8), int64(66), object(6)
memory usage: 2.8+ MB

In [33]:
duplicates_mask = df.duplicated(keep=False)

# Count the number of true duplicates
num_duplicates = duplicates_mask.sum()
print(f"Number of true duplicates: {num_duplicates}")

# Display the duplicate rows
print("Duplicate rows:")
print(df[duplicates_mask])

# Get the row numbers of the duplicates
row_numbers = np.where(duplicates_mask)[0]
print(f"Row numbers of duplicate rows: {row_numbers}")

Number of true duplicates: 260
Duplicate rows:
     championName  assists  baronKills  bountyLevel  consumablesPurchased  \
450         Fiora        5           0            1                     4
451       Belveth       11           1            9                     3
452         Annie       14           0            0                     4
453       Karthus       12           0            3                     2
454       Alistar       21           0            0                    10
...           ...      ...         ...          ...                   ...
4105       Maokai       12           0            1                     7
4106       LeeSin       11           1            2                     8
4107   Cassiopeia        4           0            0                     2
4108       Lucian        5           0            2                     5
4109        Rakan       23           0            0                    12

      damageDealtToBuildings  damageDealtToObjectives  damageDealtToTurrets  \
450                     4304                     7157                  4304
451                     4409                    40066                  4409
452                     4818                     6467                  4818
453                     2259                    20886                  2259
454                      191                      554                   191
...                      ...                      ...                   ...
4105                    1917                     3805                  1917
4106                    5107                    35266                  5107
4107                    1164                     8403                  1164
4108                    8724                    22505                  8724
4109                    1391                     2997                  1391

      damageSelfMitigated  deaths  ...  trueDamageTaken  turretKills  \
450                 23341       8  ...              215            2
451                 35012       2  ...             3941            1
452                 11552       2  ...              522            2
453                  7218       5  ...              803            1
454                 22510       3  ...             1898            0
...                   ...     ...  ...              ...          ...
4105                29301       0  ...              142            0
4106                26455       2  ...               90            2
4107                13256       5  ...              383            1
4108                 9035       3  ...              180            3
4109                12520       4  ...              133            1

      turretTakedowns  turretsLost  unrealKills  visionScore  \
450                 2            3            0           25
451                 2            3            0           34
452                 2            3            0           27
453                 1            3            0           10
454                 0            3            0           72
...               ...          ...          ...          ...
4105                1            0            0           29
4106                4            0            0           26
4107                1            0            0           12
4108                4            0            0           21
4109                2            0            0           58

      visionWardsBoughtInGame  wardsKilled  wardsPlaced   win
450                         3            1            9  True
451                         2           10            4  True
452                         2            4           11  True
453                         0            2            6  True
454                         7            6           33  True
...                       ...          ...          ...   ...
4105                        5            2           13  True
4106                        6            4           12  True
4107                        0            2            6  True
4108                        4            1           11  True
4109                       10            4           30  True

[260 rows x 80 columns]
Row numbers of duplicate rows: [ 450  451  452  453  454  455  456  457  458  459  500  501  502  503
  504  505  506  507  508  509  540  541  542  543  544  545  546  547
  548  549  600  601  602  603  604  605  606  607  608  609  850  851
  852  853  854  855  856  857  858  859  880  881  882  883  884  885
  886  887  888  889 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009
 1070 1071 1072 1073 1074 1075 1076 1077 1078 1079 1110 1111 1112 1113
 1114 1115 1116 1117 1118 1119 1130 1131 1132 1133 1134 1135 1136 1137
 1138 1139 1140 1141 1142 1143 1144 1145 1146 1147 1148 1149 1160 1161
 1162 1163 1164 1165 1166 1167 1168 1169 1250 1251 1252 1253 1254 1255
 1256 1257 1258 1259 1260 1261 1262 1263 1264 1265 1266 1267 1268 1269
 1340 1341 1342 1343 1344 1345 1346 1347 1348 1349 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2030 2031 2032 2033 2034 2035 2036 2037
 2038 2039 2070 2071 2072 2073 2074 2075 2076 2077 2078 2079 2230 2231
 2232 2233 2234 2235 2236 2237 2238 2239 2240 2241 2242 2243 2244 2245
 2246 2247 2248 2249 2300 2301 2302 2303 2304 2305 2306 2307 2308 2309
 2420 2421 2422 2423 2424 2425 2426 2427 2428 2429 2430 2431 2432 2433
 2434 2435 2436 2437 2438 2439 2640 2641 2642 2643 2644 2645 2646 2647
 2648 2649 3220 3221 3222 3223 3224 3225 3226 3227 3228 3229 4100 4101
 4102 4103 4104 4105 4106 4107 4108 4109]

In [34]:
# Remove the duplicate rows
df = df.drop_duplicates()

# Optionally, you can reset the index after dropping duplicates
df = df.reset_index(drop=True)

In [35]:
target = 'win'
features = [i for i in df.columns if i not in [target]]
original_df = df.copy(deep=True)
print('\n\033[1mInference:\033[0m The Datset consists of {} features & {} samples.'.format(df.shape[1], df.shape[0]))

Inference: The Datset consists of 80 features & 4830 samples.

In [36]:
df.nunique().sort_values()

unrealKills                       1
sightWardsBoughtInGame            1
nexusTakedowns                    2
teamEarlySurrendered              2
nexusLost                         2
                               ...
totalDamageDealtToChampions    4477
totalDamageTaken               4505
physicalDamageDealt            4652
totalDamageDealt               4756
perks                          4830
Length: 80, dtype: int64

In [37]:
nu = df[features].nunique().sort_values()
nf = []; cf = []; nnf = 0; ncf = 0; #numerical & categorical features

for i in range(df[features].shape[1]):
    if nu.values[i]<=16:cf.append(nu.index[i])
    else: nf.append(nu.index[i])

print('\n\033[1mInference:\033[0m The Datset has {} numerical & {} categorical features.'.format(len(nf),len(cf)))

Inference: The Datset has 47 numerical & 32 categorical features.

In [38]:
display(df.describe())

,assists,baronKills,bountyLevel,consumablesPurchased,damageDealtToBuildings,damageDealtToObjectives,damageDealtToTurrets,damageSelfMitigated,deaths,detectorWardsPlaced,...,trueDamageDealtToChampions,trueDamageTaken,turretKills,turretTakedowns,turretsLost,unrealKills,visionScore,visionWardsBoughtInGame,wardsKilled,wardsPlaced
count,4830.000000,4830.000000,4830.000000,4830.000000,4830.000000,4830.000000,4830.000000,4830.000000,4830.000000,4830.000000,...,4830.000000,4830.000000,4830.000000,4830.000000,4830.000000,4830.0,4830.000000,4830.000000,4830.000000,4830.000000
mean,10.908282,0.066874,0.951967,3.504762,2136.456522,7718.303727,2136.456522,17426.836232,5.954037,1.742236,...,1038.657350,1092.316356,0.804348,1.693789,4.168737,0.0,20.100414,2.010559,2.635404,8.340580
std,9.476288,0.267444,1.911960,3.314951,2684.405498,11033.546068,2684.405498,16634.508188,3.734339,2.502270,...,1692.803941,1342.612491,1.181071,1.793208,3.295908,0.0,21.552713,2.813689,3.218647,10.194838
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,4.000000,0.000000,0.000000,1.000000,247.000000,940.000000,247.000000,7300.500000,3.000000,0.000000,...,64.000000,301.000000,0.000000,0.000000,2.000000,0.0,3.000000,0.000000,0.000000,1.000000
50%,8.000000,0.000000,0.000000,3.000000,1183.500000,3030.500000,1183.500000,12373.000000,6.000000,1.000000,...,521.000000,660.500000,0.000000,1.000000,4.000000,0.0,15.000000,1.000000,2.000000,6.000000
75%,16.000000,0.000000,1.000000,5.000000,3007.750000,9684.250000,3007.750000,21627.000000,8.000000,3.000000,...,1224.750000,1355.000000,1.000000,3.000000,7.000000,0.0,27.000000,3.000000,4.000000,10.000000
max,65.000000,2.000000,16.000000,25.000000,21896.000000,94556.000000,21896.000000,203932.000000,25.000000,20.000000,...,18412.000000,16272.000000,9.000000,10.000000,11.000000,0.0,161.000000,23.000000,35.000000,89.000000

# EDA